### Terraform ###
.terraform/

# must be checked in, and when I run terraform init again it will Picks versions from lock file
#.terraform.lock.hcl 

myplan.tfplan
terraform.tfstate
terraform.tfstate.backup